// app global css in SCSS form

// pink-4
// grey-6
// fredoka one
// philosopher
//

.my-card {
  min-width: 0.7rem;
  min-height: 0.5rem;
  width: 60vw;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
