////////////////////////
/* COMMON */
////////////////////////
// pink-4
// grey-6
// philosopher

// <q-space />
// <q-separator dark inset />

.my-card-cmn {
  min-width: 0.7rem;
  min-height: 0.5rem;
  width: 60vw;
  border-radius: 10px;
}
.container-cmn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// background checkered pattern
.q-page { 
  background: white;
  background-image: linear-gradient(
      90deg,
      rgba(238, 211, 211, 0.5) 50%,
      transparent 0
    ),
    linear-gradient(rgba(210, 225, 226, 0.5) 50%, transparent 0);
  background-size: 30px 30px;
}

////////////////////////
/* INITIALISATION */
////////////////////////
// selector button recolored
.q-field__marginal { 
  color: #f06292; 
}

////////////////////////
/* SIGN UP */
////////////////////////
// input text when the field is active
.q-field--standout.q-field--highlighted .q-field__native{ 
  color: #616161;
  font-weight: 200;
}
// field color when there is error
.q-field--standout.q-field--highlighted .q-field__control{
  background:rgb(201, 209, 212); 
}

////////////////////////
/* LOG IN */
////////////////////////
// input text, border highlight when the field is active
.q-field__control.relative-position{
  color: #616161;
}


////////////////////////
/* Q-LABEL FONT */
////////////////////////
.q-item__label {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}


////////////////////////
/* DEFAULT FONT SETTINGS */
////////////////////////
.mainFont {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}
.thinFont {
  font-weight: 500;
}
.thickFont {
  font-weight: 900;
}
